
.img {
    max-height: 100px;
}

.container-fluid {
    background-image: url(./image/20130321-P3210210.jpg);
    background-size: cover;
}
.syasinn {
    max-height: 250px;
    max-width: 200px;

}
.fuder {
    width: 80%;
    margin-left: 10%;
    display: ;
}
.cl {
    margin: ;
}

